.App {
  font-family: "Thre Buchet MS", "Lucinda Sans Unicode", "Lucinda Grande";
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top:  100px; 
}

.questions{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.question-area{
 max-width: 1000px;
}

.question-box{
  background-color:  antiquewhite;
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
}

.questions-buttons{
  display: flex;
  flex-direction: row;
}

.questions-button{
  display: flex;
  flex-direction: column;
}

button{
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: darkcyan;
  color: white;
}

button:disabled{
  background-color: darkgray;
  color: darkolivegreen;
}

select{
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: darkcyan;
  color: white;
}